NODE_ENV=development
PORT=4000
API_PREFIX=/api/v1

DATABASE_URL="postgresql://admin:P5Hx8u8AD3rL9zJCPRY8f1cKBGshp0bH@dpg-d7gvcnvavr4c73aijo80-a.singapore-postgres.render.com:5432/my_database_sabv?schema=public"

JWT_SECRET="your-super-secret-jwt-key-change-this-in-production-min-32-chars-required-here"
JWT_EXPIRES_IN="15m"
REFRESH_TOKEN_SECRET="your-refresh-token-secret-change-this-in-production-min-32-chars-required"
REFRESH_TOKEN_EXPIRES_IN="7d"
NEXTAUTH_SECRET="match-with-frontend-nextauth-secret-min-32-chars-required-here-please"

FRONTEND_URL=https://frontend-omb6.onrender.com
ALLOWED_ORIGINS="http://localhost:3000"

UPLOAD_DIR="./uploads"
MAX_FILE_SIZE=10485760

RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX=100

PDF_OUTPUT_DIR="./uploads/pdfs"
